<div class="welcome">
  <h1>Welcome to Typhoon's Project</h1>
  <div>
    <h2>Project Details</h2>
    <div>
      <h3>Api Project</h3>
      <ul>
        <li>
          Api project has been developed with .Net 8, EntityFrameworkCore 8.
        </li>
        <li>Generic repo, service, controller design.</li>
        <li>
          Implements layered architecture, JWT authentication, refresh token,
          pagination and filters, fluent validation, auto mapper, exception
          middleware, logging, health check, Swagger documentation...
        </li>
      </ul>
    </div>
    <div>
      <h3>UI Project</h3>
      <ul>
        <li>UI project has been developed with Angular v 17.3.</li>
        <li>Standalone project. Uses new syntax, Angular material design.</li>
        <li>
          Implements auth, error, loading interceptors, refresh token, global
          notification and confirm services, pagination, lazy loading...
        </li>
        <li>Reusable, application independent data table component...</li>
      </ul>
    </div>
  </div>
</div>
