.action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card-header {
  justify-content: center;
}

.filter-container form {
  display: flex;
  justify-content: space-evenly;
}
