<div class="category-form">
  <h2 mat-dialog-title>{{ edit ? "Edit" : "Create" }}{{ " Category" }}</h2>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Category name" formControlName="name" />
      @if(form.get('name')?.hasError('maxlength')){
      <mat-error>Name field might be up to 50 characters long!</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Category description"
        formControlName="description"
      >
      </textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button
      mat-raised-button
      color="accent"
      (click)="save()"
      [disabled]="form.invalid || isLoading || form.pristine"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
